<div>
  <div class="row">
    <table class="table table-hover table-inverse border col-3">
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% genres.each do |genre| %>
              <%= link_to items_path(genre_id: genre.id) do %>
                <%= genre.name %>
              <% end %></br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="col-md-6 mt-5 ml-5">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </p>
  </div>

</div>