
    <table class="table table-hover table-inverse border col-3">
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% genres.each do |genre| %>
              <%= link_to items_path(genre_id: genre.id) do %>
                <%= genre.name %>
              <% end %></br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
